.inputWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}

.input {
  background-color: #313131;
  border: solid 1px #3c3c3c;
  border-radius: 2px;
  padding: 4px 5px;
  width: calc(100% - 15px);
  outline: none;
  color: #cccccc;
}

.input:focus {
  border-color: #0078d4;
}

.iconWrap {
  position: absolute;
  right: 11px;
  display: flex;
  gap: 2px;
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: 3px;
}

.icon-bg:hover {
  background-color: #5a5d5e80;
}

.active {
  background-color: #2489db82;
  border: solid 1px #2488db;
}

.active:hover {
  background-color: #2489db82;
}

.icon {
  font-size: 17px;
}

.ellipsis {
  position: absolute;
  right: 12px;
  cursor: pointer;
  margin-top: -2px;
}

.filter {
  color: #cccccc;
  font-size: 11px;
}

.include {
  margin-top: 6px;
}

.includeTxt {
  margin-left: 7.5px;
}

.include .inputWrap {
  margin-top: -3px;
}

.results {
  margin-top: 13px;
  overflow-y: auto;
  height: calc(100vh - 143px);
}

.results::-webkit-scrollbar {
  display: none;
}

.count {
  font-size: 13px;
  padding-left: 8px;
  margin-bottom: 10px;
  color: #cccccca6;
}

.result {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.file {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  cursor: pointer;
  height: 22px;
  line-height: 22px;
}

.file:hover {
  background-color: #2a2d2e;
}

.namepath {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.name {
  font-size: 13px;
  color: #cccccc;
  line-height: 1;
  height: 100%;
}

.path {
  font-size: 11.7px;
  color: #cccccc;
  opacity: 0.7;
  padding-left: 5px;
  line-height: 1;
  height: 100%;
}

.code {
  font-size: 13px;
  color: #cccccc;
  padding: 0px 7px 0px 31px;
  cursor: pointer;
  height: 22px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.code:hover {
  background-color: #2a2d2e;
}

.highlight {
  background-color: #2a2d1a;
  color: #cccccc;
}
