.Home {
  background-color: #1f1f1f;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.empty-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shortkey {
  margin-top: 5px;
}

.shortkey>div {
  display: flex;
  gap: 10px;
}

.short-txt {
  color: #cccccc99;
  padding: 10px 0 10px 10px;
  width: 120px;
  text-align: right;
}

.keys {
  padding: 10px 10px 10px 0;
  color: #cccccc;
}

.keys span {
  background-color: #8080802b;
  border: 0.67px solid #33333399;
  border-radius: 3px;
  border-bottom-color: #44444499;
  box-shadow: inset 0px -1px 0px #0000005c;
  color: #cccccc;
  font-size: 11px;
  height: 10px;
  line-height: 10px;
  padding: 1px 6px;
  margin: 0 2px;
}

.fileArea {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filesTop {
  width: calc(100vw - 251px);
  height: 35px;
  background-color: #181818;
}

.file {
  width: 100%;
  height: 100%;
  border-top: solid 1px #2b2b2b;
}