/* titlebar */
.titlebar {
  background-color: #181818;
  height: 35px;
  color: #cccccc;
  border-bottom: 1px solid #2b2b2b;
  width: 100vw;
}

.titlebar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.titlebar-left {
  flex: 2;
}

.titlebar-center {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
}

.titlebar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
  padding-right: 2px;
  gap: 4px;
}

.icon-bg {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-bg:hover {
  background-color: #2d2e2e;
}

.titlebar-arrow {
  transform: translateY(-0.5px);
}

.search-wrap {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 40vw;
  max-width: 600px;
  height: 23px;
  background-color: #ffffff0d;
  border: solid 1px #9d9d9d40;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 6px;
}

/* activitybar */
.activitybar {
  background-color: #181818;
  width: 253px;
  height: calc(100vh - 36px);
  color: #868686;
  display: flex;
  float: left;
}

.menubar:hover,
.taskbar-wrap:hover {
  color: #cccccc;
}

.menubar {
  width: 48px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.taskbar-wrap {
  font-size: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* sidebar */
.sidebar {
  width: 205px;
  background-color: #181818;
  border-left: 1px solid #2b2b2b;
  color: #cccccc;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  font-size: 11px;
  padding: 0 15px;
}

.ellipsis {
  font-size: 16px;
}

.main {
  float: left;
}
