/* titlebar */
.titlebar {
  background-color: #181818;
  height: 35px;
  color: #cccccc;
  border-bottom: 1px solid #2b2b2b;
  width: 100vw;
}

.titlebar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.titlebar-left {
  flex: 2;
}

.titlebar-center {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
}

.titlebar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
  padding-right: 3px;
  gap: 4px;
}

.icon-bg {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-bg:hover {
  background-color: #2d2e2e;
}

.titlebar-arrow {
  transform: translateY(-0.5px);
}

.search-wrap {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 40vw;
  max-width: 600px;
  min-width: 10px;
  height: 23px;
  background-color: #ffffff0d;
  border: solid 1px #9d9d9d40;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 6px;
}

.search-wrap:hover {
  background-color: #2a2a2a;
  border: solid 1px #5b5b5b;
}

.wrap {
  display: flex;
  overflow-y: hidden;
  height: calc((var(--vh, 1vh) * 100) - 57px);
}

/* activitybar */
.activitybar {
  background-color: #181818;
  width: 253px;
  height: 100%;
  color: #868686;
  display: flex;
  float: 1;
}

.menubar:hover,
.taskbar-wrap:hover {
  color: #cccccc;
}

.menubar {
  width: 48px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.taskbar-wrap {
  font-size: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* sidebar */
.sidebar {
  width: 205px;
  background-color: #181818;
  border-left: 1px solid #2b2b2b;
  color: #cccccc;
  position: relative;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  font-size: 11px;
  padding: 0 15px;
}

.ellipsis {
  font-size: 16px;
}

.main {
  flex: 1;
}

/* treeNode */
.folderTree {
  font-size: 13px;
  position: relative;
}

.treeNode {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 22px;
  position: relative;
}

.fileWrap,
.folderWrap {
  height: 22px;
  width: 100%;
}

.fileWrap:hover,
.folderWrap:hover {
  background-color: #2d2e2e;
}

.hoverDiv {
  width: 205px;
  height: 22px;
  position: absolute;
  left: 0;
  z-index: 0;
}

.file,
.folder {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 22px;
  line-height: 1;
  position: relative;
  width: 205px;
}

.active,
.active:hover {
  background-color: #04395e;
  box-shadow: 0 0 0 1px #0078d4 inset;
}

.lowActive {
  border: none;
  background-color: #37373d;
}

.name {
  width: 136px;
  height: 22px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.nameTxt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.rootFolderTool {
  display: none;
  align-items: center;
  font-size: 16px;
  gap: 3px;
}

.name:hover .rootFolderTool {
  display: flex;
}

.side-icon-bg {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-icon-bg:hover {
  background-color: #2d2e2e;
}

.file div {
  display: flex;
  align-items: center;
  height: 22px;
}

.treeIcon {
  font-size: 16px;
  margin-right: -4px;
}

.icon {
  width: 16px;
  height: 20px;
  min-width: 16px;
  min-height: 20px;
}

.treeChildren {
  overflow-x: hidden;
}

.treeChildren::-webkit-scrollbar {
  display: none;
}

.treeNodeWrap:hover .treeChildren::-webkit-scrollbar-thumb {
  background-color: #4d4d4dcc;
}

.treeNodeWrap {
  overflow: hidden;
}

.indent-wrap {
  position: absolute;
  display: flex;
  gap: 8px;
  left: 14px;
  height: 100%;
}

.indent-guide {
  border-left: solid 1px #585858;
}

.indent-wrap-folder {
  position: absolute;
  display: flex;
  gap: 11px;
  left: 17px;
  height: 100%;
}

.indent-guide-folder {
  margin-left: -3px;
  border-left: solid 1px #585858;
}

.indent-guide,
.indent-guide-folder {
  opacity: 0;
  transition: 0.1s linear;
}

.indent-guide:first-child,
.indent-guide-folder:first-child {
  display: none;
}

.folderTree:hover .indent-guide,
.folderTree:hover .indent-guide-folder {
  opacity: 0.5;
}

.track {
  position: absolute;
  top: 22px;
  right: 0;
  width: 10px;
  height: calc(100% - 30px);
}

.slider {
  width: 100%;
  position: absolute;
  transition: 1.3s background-color;
  z-index: 1;
  max-height: calc(100% - 30px);
}

.slider:hover {
  background-color: #7979798e !important;
  transition: none !important;
}

.slider:active {
  background-color: #797979bc !important;
  transition: none !important;
}

.folderTree:hover .slider,
.folderTree:active .slider {
  background-color: #79797966;
  transition: 0.3s background-color;
}

/* footer */
.footerWrap {
  width: 100vw;
  height: 22px;
  background-color: #181818;
  border-top: solid 1.5px #2b2b2b;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #cccccc;
}

.footer-left {
  display: flex;
  gap: 3px;
  flex: 1;
}

.remote {
  width: 34px;
  height: 22px;
  background-color: #0078d4;
  border-radius: 0 0 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.remote:hover {
  background-color: #1f88d9;
}

.remote svg {
  margin-bottom: 3px;
}

.problem {
  display: flex;
  gap: 3px;
  cursor: pointer;
  padding: 0 5px;
}

.problem:hover {
  background-color: #2d2e2e;
}

.err,
.warning {
  height: 22px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  gap: 4px;
}

.problem-txt {
  font-size: 12px;
  padding-bottom: 2px;
}

.footer-right {
  display: flex;
  align-items: center;
  height: 22px;
  padding-right: 10px;
}

.right-content {
  display: flex;
  gap: 6px;
  font-size: 12px;
}

.json {
  height: 22px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.json svg {
  font-size: 15px;
  padding-bottom: 3px;
}

.json-txt {
  line-height: 18px;
  height: 22px;
}

.bell {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bell svg {
  padding-bottom: 3px;
}

.right-content div {
  height: 22px;
  line-height: 19px;
  padding: 0 5px;
  cursor: pointer;
}

.right-content div:hover {
  background-color: #2d2e2e;
}